{{> menu}}

<section class="section has-background-grey-dark">
<form class="box" action="/placemark/{{category._id}}/placemark/{{placemark._id}}" method="POST">
    <label class="label">Enter Updated Place Details:</label>
    <div class="field is-horizontal has-background-warning-light">
        <div class="field-body">
            <div class="field">
                <label class="label">PlaceMark Name</label>
                <input class="input" type="text" pattern="[A-Za-z\\s]+{1,20}" name="name"
                       value="{{placemark.name}}"/>
            </div>
            <div class="field">
                <label class="label">Description Name</label>
                <input class="input" type="text" pattern="[A-Za-z\\s]+{1,20}" name="location"
                       value="{{placemark.location}}"/>
            </div>
            <div class="field">
                <label class="label">Species Spotted</label>
                <input class="input" type="text" pattern="[A-Za-z\\s]+{1,20}" name="info"
                       value="{{placemark.info}}"/>
            </div>
            <div class="field">
                <label class="label">Latitude</label>
                <input class="input" type="number" step="0.0000001" maxlength="10" min="-90.0000000" max="90.0000000"
                       name="lat" value="{{placemark.lat}}"/>
            </div>
            <div class="field">
                <label class="label">Longitude</label>
                <input class="input" type="number" step="0.0000001" maxlength="10" min="-180.0000000" max="180.0000000"
                       name="lng" value="{{placemark.lng}}"/>
            </div>
            <br>
        </div>
    </div>
    <button class="button is-link">Update PlaceMark</button>
    </div>
    </div>
</form>
</section>

