{{> menu}}

<section class="section has-background-success-dark">
  <h1 style="font-size:35px;color: aliceblue"><b>Welcome to Edit, Review and Ratings Page.</b></h1>
  <section class="section has-background-success-dark">
    <h1 style="font-size:22px;color: aliceblue"><b>Recent Rating and Review of this PlaceMark</b></h1>
    <br>
    {{>list-reviews}}
  </section>
  <div class="container">
    <section class="section has-background-success-dark">
      <h1 style="font-size:22px;color: aliceblue"><b>Review & Rate Submission Form</b></h1>
      <span style="padding-left:60px;"></span><img
      src="https://www.pngkit.com/png/full/17-171164_customer-reviews-review-vector-icon.png" width="200"
      height="900" alt="" />
      <h1 style="font-size:18px;color: aliceblue"><b>let us know about your experiences</b></h1>
      <br>
      {{>add-review}}
      <br>
    </section>
  </div>
  <section class="section has-background-success-dark">
    <h1 style="font-size:22px;color: aliceblue"><b>Current Private PlaceMark Details</b></h1>
    <br>
    {{>single-placemark}}
    <h1 style="font-size:22px;color: aliceblue"><b>Update PlaceMark Information</b></h1>
    <br>
    <form class="box has-background-info-light" action="/placemark/{{category._id}}/placemark/{{placemark._id}}"
          method="POST">
      <label class="label">Edit PlaceMark Details & Share or Make Private:</label>
      <div class="field is-horizontal has-background">
        <div class="field-body">
          <div class="field">
            <label class="label">PlaceMark Name</label>
            <input class="input" type="text" pattern="[A-Za-z\\s]+{1,20}" name="name"
                   value="{{placemark.name}}" />
          </div>
          <div class="field">
            <label class="label">Description Name</label>
            <input class="input" type="text" pattern="[A-Za-z\\s]+{1,20}" name="location"
                   value="{{placemark.location}}" />
          </div>
          <div class="field">
            <label class="label">Species Spotted</label>
            <input class="input" type="text" pattern="[A-Za-z\\s]+{1,20}" name="info"
                   value="{{placemark.info}}" />
          </div>
          <div class="field">
            <label class="label">Latitude</label>
            <input class="input" type="number" step="0.0000001" maxlength="10" min="-90.0000000" max="90.0000000"
                   name="lat" value="{{placemark.lat}}" />
          </div>
          <div class="field">
            <label class="label">Longitude</label>
            <input class="input" type="number" step="0.0000001" maxlength="10" min="-180.0000000" max="180.0000000"
                   name="lng" value="{{placemark.lng}}" />
          </div>
            <div class="field" style="display: none">
                <label class="label">user</label>
                <input class="input" type="text"
                       name="user" value="{{placemark.user}}" />
            </div>
        </div>
      </div>
      <div class="field">
        <label for="placeMark">Shared {{placemark.visible}}</label>
        <select name="visible" id="placeMark">
          <option value="true">On</option>
          <option value="false">Off</option>
        </select>
      </div>
      <br>
      <button class="button is-link">Update PlaceMark/Preferences</button>
      <p> If you choose to Share instead of have your PlaceMark as private this will be posted to the noticeboard for
        all logged-In Users to see.</p>
    </form>
  </section>
</section>


