<table class="table is-fullwidth has-background-warning-light">
    <thead>
    <tr>
        <th>PlaceMark</th>
        <th>Destination</th>
        <th>Species Spotted</th>
        <th>Latitude</th>
        <th>Longitude</th>
    </tr>
    </thead>
    <tbody>
    {{#each placemark.places}}
        <tr>
            <td>
                {{name}}
            </td>
            <td>
                {{location}}
            </td>
            <td>
                {{info}}
            </td>
            <td>
                {{lat}}
            </td>
            <td>
                {{lng}}
            </td>
            <td>
                <a href="/placemark/{{../placemark._id}}/deleteplace/{{_id}}" class="ui icon button has-background-danger">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>