<table class="table is-fullwidth has-background-info-light">
    <thead>
    <tr>
        <th>PlaceMark</th>

        <th>Species Spotted</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Public</th>
    </tr>
    </thead>
    <tbody>
{{#unless placemark.visible}}

    <tr>
        <td>
            {{placemark.name}}
        </td>

        <td>
            {{placemark.info}}
        </td>
        <td>
            {{placemark.lat}}
        </td>
        <td>
            {{placemark.lng}}
        </td>
        <td>
            {{placemark.visible}}
        </td>
    <tr>
{{/unless}}
    </tbody>
</table>


